<% provide(:title, 'Accommodations') %>
<aside class="row-fluid">
   <section>
         <%= link_to " Import Accomodations", new_accomodation_path, class: "btn btn-inverse icon-upload-alt icon-large" %>
         <%= link_to " Delete All Accomodations", 'delete_accommodations', method: :delete, data: { confirm: "WARNING This will delete all accomodations!!!" },class: "btn btn-danger icon-trash icon-large" %>
   </section>
   <section>
      <form class="form-search offset5">
         <input type="text" name="filter" value="" id="filter" class="input-large search-query" />
         <label for="filter" class="icon-filter icon-large"> Filter</label>
      </form>
   </section>
</aside>
<article class="span10 offset3">
   <table cellpadding="1" cellspacing="1" id="accomodationsTable" class="table table-bordered table-hover">
      <caption class="alert alert-info"> 
         <h2> For all students registered with the OSD display their accomodations </h2>
      </caption>
      <thead>
         <tr>
            <th class="sortable icon-sort-by-alphabet sorted-asc span3"> Registered with OSD (<%= @accomodations.count %>)</th>
            <th class="sortable icon-sort-by-alphabet sorted-asc span3"> Registered with Website?</th>
            <th class="sortable icon-sort-by-alphabet sorted-asc span3"> Accomodations</th>
            <th class="sortable icon-sort-by-alphabet sorted-asc span4"> Require Note-taking? (<strong class="text-success icon-check"> <%= @accomodations.where("note_taking SIMILAR TO ?", "%(GC|GM)%").count %></strong> | <strong class="text-error icon-check-empty"> <%= @accomodations.where("note_taking NOT SIMILAR TO ?", "%(GC|GM)%").count %></strong>)</th>
         </tr>
      </thead>
      <tbody>
         <%= render @accomodations %>
      </tbody>
   </table>
</article>