<% provide(:title, 'Note Taker') %>
<div class="hero-unit">
	<h3> Courses you are currently notetaking for</h3>
	 <div class="row">
  		<div class="span8">
  			<hr>
  			<h5> ANTH 201 <small> Last Upload: June 5, 2013 </small>	</h5>		
  		</div>
  		<div class="span8">
  			<%= link_to "Upload notes", notetaker2_path, class: "btn btn-small btn-primary cus-upload" %>
  			<%= link_to "View Course", '#', class: "btn btn-small btn-primary cus-doc-text-inv" %>
  			<%= link_to "Contact Students", '#', class: "btn btn-small btn-primary cus-users" %>
  			<%= link_to "Feedback", '#', class: "btn btn-small btn-primary cus-comment-empty" %>
  		</div>
  		<div class="span8">
  			<hr>
  			<h5> CHEM 201 <small> Last Upload: June 11, 2013 </small> </h5>				
  		</div>
  		<div class="span8">
  			<%= link_to "Upload notes", notetaker2_path, class: "btn btn-small btn-primary cus-upload" %>
  			<%= link_to "View Course", '#', class: "btn btn-small btn-primary cus-doc-text-inv" %>
  			<%= link_to "Contact Students", '#', class: "btn btn-small btn-primary cus-users" %>
  			<%= link_to "Feedback", '#', class: "btn btn-small btn-primary cus-comment-empty" %>
  		</div>
  		<div class="span8">
  			<hr>
  			<h5> BIOL 201 <small> Last Upload: May 1, 2013 </small>	</h5>			
  		</div>
  		<div class="span8">
  			<%= link_to "Upload notes", notetaker2_path, class: "btn btn-small btn-primary cus-upload" %>
  			<%= link_to "View Course", '#', class: "btn btn-small btn-primary cus-doc-text-inv" %>
  			<%= link_to "Contact Students", '#', class: "btn btn-small btn-primary cus-users" %>
  			<%= link_to "Feedback", '#', class: "btn btn-small btn-primary cus-comment-empty" %>
  		</div>
  	</div>
</div>