<% provide(:title, 'Password Reset') %>

<section class="well span8 offset6">
<%= form_for @user, url: password_reset_path(params[:id], html: {class: "form-inline"}) do |f| %>
  <legend>Reset Password</legend>
  <%= render 'shared/error_messages', object: f.object %>

  <fieldset class="control-group">
    <%= f.label :password, " New Password", class: "icon-lock icon-large" %>
    <p class="controls">
      <%= f.password_field :password, autofocus: true, required: true, 
          minLength: "8",
          :'data-validation-regex-regex' => "^[^\\s']+$", 
          :'data-validation-regex-message' => "Password is incorrect format; cannot have any spaces or quotes(')", class: "input-xlarge" %>
    </p>
  </fieldset>
  
  <fieldset class="control-group">
    <%= f.label :password_confirmation, " Password Confirmation", class: "icon-lock icon-large" %>
    <p class="controls">
      <%= f.password_field :password_confirmation,
          :'data-validation-match-match' => "user[password]", 
          :'data-validation-match-message' => "Password confirmation must match password", class: "input-xlarge"%>
    </p>
  </fieldset>

  <fieldset>
    <%= button_tag type: 'submit', class: "icon-save icon-large btn btn-large btn-inverse" do %>
      Update Password
    <% end %>
  </fieldset>
<% end %>