<section class="well span4 offset4">
	<%= form_for @user, html: { class: "form-inline" } do |f| %>
		<legend>First, Tell Us a Bit About Yourself</legend>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.hidden_field :note_taker, value: locals[:note_taker] %>

		<fieldset name="userName" class="control-group">
			<%= f.label :name do %>
				<i class="icon-user icon-large"></i> Name
			<% end %>
			<p class="controls">
				<%= f.text_field :name, required: true, maxlength: "50", placeholder: "John Doe", autofocus: true, class: "input-xlarge" %>
			</p>
		</fieldset>

		<fieldset name="userEmail" class="control-group">
			<%= f.label :email do %>
				<i class="icon-envelope icon-large"></i> McGill Email 
			<% end %>
			<p class="controls">
				<%= f.email_field :email, required: true, 
						:'data-validation-email-message' => "Please enter a valid email", 
						:'data-validation-regex-regex' => "^[a-zA-Z0-9\-]+\\.([a-zA-Z0-9]+\\.)?[a-zA-Z0-9\-]+@mail.mcgill.ca$", 
						:'data-validation-regex-message' => "Must be of the form firstname.lastname@mail.mcgill.ca", 
						placeholder: "john.doe@mail.mcgill.ca", class: "email", id: "signup_email", class: "input-xlarge"  %>
			</p>
		</fieldset>

		<fieldset name="userID" class="control-group">
			<%= f.label :student_id do %>
				<i class="icon-credit-card icon-large"></i> McGill Student ID
			<% end %>
			<p class="controls">
				<%= f.text_field :student_id, required: true, 
				:'data-validation-regex-regex' => "^[0-9]+$", 
				:'data-validation-regex-message' => "Student ID is incorrect format; must be a 9 digit number", 
				maxLength: "9",
				minLength: "9",
				placeholder: "123456789", class: "input-xlarge"  %>
			</p>
		</fieldset>

		<fieldset name="userPassword" class="control-group">
			<%= f.label :password do %>
				<i class="icon-lock icon-large"></i> McGill Password
			<% end %>
			<p class="controls">
				<%= f.password_field :password, required: true, minLength: "8",
				:'data-validation-regex-regex' => "^[^\\s']+$", 
				:'data-validation-regex-message' => "Password is incorrect format; cannot have any spaces or quotes(')", class: "input-xlarge"  %>
			</p>
		</fieldset>

		<fieldset name="userPasswordConfirm" class="control-group">
			<%= f.label :password_confirmation do %>
				<i class="icon-lock icon-large"></i> Confirmation
			<% end %>
			<p class="controls">
				<%= f.password_field :password_confirmation, 
				:'data-validation-match-match' => "user[password]", 
				:'data-validation-match-message' => "Password confirmation must match password", class: "input-xlarge"  %>
			</p>
		</fieldset>

		<fieldset name="userButtons" class="btn-toolbar">
			<section class="btn-group">
		      <%= link_to root_path, class: "btn btn-large btn-inverse" do %>
		      	<i class="icon-remove icon-large"></i> Cancel
		      <% end %>
		   </section>
		   <section class="btn-group">
		      <%= button_tag(type: 'submit', class: "btn btn-large btn-danger") do %>
		      <i class="icon-ok icon-large"></i> Register
				<% end %>
			</section>
		</fieldset>
	<% end %>
</section>
