<li>
   (
   <% if user.note_taker? %>
      <strong class="text-success"><i class="icon-pencil icon-large"></i> NoteTaker</strong>
   <% elsif user.admin? %>
      <strong class="text-error"><i class="icon-gears icon-large"></i> Admin</strong>
   <% else %>
      <strong class="text-warning"><i class="icon-user icon-large"></i> NoteUser</strong>
   <% end %>)
	<%= user.student_id %>
	<strong><%= link_to user.name, edit_user_path(user) %></strong>
  <% if user.note_taker?  %>
    <% if user.approved?  %>
      <i class="icon-star icon-large approve"></i>
    <% else %>
      <i class="icon-star-empty icon-large"></i>
    <% end %>
  <% end %>
	<%= user.email %>
   
	<% if current_user.admin? && !current_user?(user) %>
		<%= link_to user, method: :delete,
									  data: { confirm: "Delete user #{user.student_id} #{user.name}" }, 
                             class: "delete" do %>
        <i class="icon-trash icon-large"></i> Delete
    <% end %>
    <% if user.note_taker? %>
      <% if user.approved? %>
        <%= link_to user_path(user, user: { :approved => false }), method: :put do %>
            <i class="icon-thumbs-down icon-large"></i> Unapprove
        <% end %>
      <% else %>
        <%= link_to user_path(user, user: { :approved => true }), method: :put do %>
          <i class="icon-thumbs-up icon-large"></i> Approve
        <% end %>
      <% end %>
    <% end %>
	<% end %>
</li>