<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
	<div class="span6 offset3" >
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: "editUserName" %>

			<%= f.label :student_id, "McGill Student ID" %>
			<%= f.text_field :student_id, class: "editUserID" %>

			<% if current_user.admin? %>
				<%= f.label :email, "McGill Email" %>
				<%= f.text_field :email, class: "editEmail" %>
			<% end %>

			<%= f.label :password, "McGill Password" %>
			<%= f.password_field :password, class: "editUserPassword" %>

			<%= f.label :password_confirmation , "Confirm Password" %>
			<%= f.password_field :password_confirmation, class: "editUserConfirm" %>

			<% if current_user.admin? and not current_user?(@user) %>
				<%= f.check_box :note_taker, class: "checkbox editNotetaker" %> 
				<%= f.label :note_taker, "NoteTaker?", class: "cus-pencil checkbox inline "%>
			<% end %>
			<br>
			<br>
			<%= button_tag(type: 'submit', class: "btn btn-large btn-primary") do %>
				<i class="cus-floppy"></i> Save changes
			<% end %>
		<% end %>
	</div>
</div>