<% provide(:title, 'All users') %>
<h1>All users</h1>
<form class="form-search offset7">
   <label for="filter"> <i class="icon-filter icon-large"></i>Filter</label>
   <input type="text" name="filter" value="" id="user_filter" class="input-large search-query" />
</form>
<article class="row-fluid">
   <aside class="span3">
      <section class="well">
         <%= form_tag('/create_admin', method: :put ) do %>
            <legend><i class="icon-plus icon-large"></i> Add Admin User</legend>

            <fieldset name="addAdminName" class="control-group">
               <%= label_tag :name, nil, class: "cus-user control-label" %>
               <p class="controls">
                  <%= text_field_tag :name, nil, maxlength: "50", placeholder: "john doe", required: true, class: "input-xlarge newAdminName" %>
               </p>
            </fieldset>

            <fieldset name="addAdminEmail" class="control-group">
               <%= label_tag :email, "McGill Email", class: "cus-mail-alt" %>
               <p class="controls">
                  <%= text_field_tag :email, nil, placeholder: "john.doe@mcgill.ca", required: true, 
                     :'data-validation-email-message' => "Please enter a valid email", 
                     :'data-validation-regex-regex' => "^[a-zA-Z0-9\-]+\\.([a-zA-Z0-9]+\\.)?[a-zA-Z0-9\-]+(@mail.mcgill.ca|@mcgill.ca)$", 
                     :'data-validation-regex-message' => "Must be of the form firstname.lastname@mcgill.ca",
                     class: "input-xlarge newAdminEmail" %>
               </p>
            </fieldset>

            <fieldset name="addAdminID" class="control-group">
               <%= label_tag :student_id, "McGill Student ID", class: "cus-credit-card" %>
               <p class="controls">
                  <%= text_field_tag :student_id, nil, placeholder: "123456789", required: true, 
                                    :'data-validation-regex-regex' => "^[0-9]+$", 
                                    :'data-validation-regex-message' => "Student ID is incorrect format; must be a 9 digit number", 
                                    maxLength: "9",
                                    minLength: "9",
                                    placeholder: "123456789",
                                    class: "input-xlarge newAdminID" %>
               </p>
            </fieldset>

            <fieldset name="addAdminPassword" class="control-group">
               <%= label_tag :password, "McGill Password", class: "cus-lock" %>
               <p class="controls">
                  <%= password_field_tag :password, nil, required: true, 
                  minLength: "8",
                  :'data-validation-regex-regex' => "^[^\\s']+$", 
                  :'data-validation-regex-message' => "Password is incorrect format; cannot have any spaces or quotes(')", 
                  class: "input-xlarge newAdminPassword"%>
               </p>
            </fieldset>

            <fieldset name="addAdminConfirm" class="control-group">
               <%= label_tag :password_confirmation, "Confirmation", class: "cus-lock" %>
               <p class="controls">
                  <%= password_field_tag :password_confirmation, nil, 
                  :'data-validation-match-match' => "password", 
                  :'data-validation-match-message' => "Password confirmation must match password", 
                  class: "input-xlarge newAdminConfirm" %>
               </p>
            </fieldset>

            <fieldset name="submit">
               <%= button_tag(type: 'submit', class: "btn btn-large btn-inverse cus-ok") do %>
                  Create Account
               <% end %>
            </fieldset>
         <% end %>
      </section>
   </aside>
   <article class="span9">

      <ul class="users">
         <%= render @users %>
      </ul>

   </article>
</article>

