<% provide(:title, 'All users') %>
<h1>All users</h1>
<form class="form-search">
   <label for="filter" class="cus-users">Filter</label>
   <input type="text" name="filter" value="" id="user_filter" class="input-large search-query" />
</form>
<div class="row">
   <aside class="span3">
      <section>
         <h2> Add Admin User </h2>
         <%= form_tag('/create_admin', method: :put ) do %>
            <%= label_tag :name do %>
               <i class="cus-user"></i> Name
            <% end %>
            <%= text_field_tag :name, nil, placeholder: "john doe", class: "newAdminName" %>

            <%= label_tag :email, "McGill Email", class: "cus-mail-alt" %>
            <div class="input-append">
               <%= text_field_tag :email, nil, placeholder: "john.doe@mcgill.ca", class: "admin_email newAdminEmail" %>
               <span class="add-on">@mcgill.ca</span>
            </div>
            <%= label_tag :student_id, "McGill Student ID", class: "cus-credit-card" %>
            <%= text_field_tag :student_id, nil, placeholder: "123456789", class: "newAdminID" %>

            <%= label_tag :password, "McGill Password", class: "cus-lock" %>
            <%= password_field_tag :password, nil, class: "newAdminPassword"%>

            <%= label_tag :password_confirmation, "Confirmation", class: "cus-lock" %>
            <%= password_field_tag :password_confirmation, nil, class: "newAdminConfirm" %>

            <%= button_tag(type: 'submit', class: "btn btn-large btn-primary") do %>
               <i class="cus-ok"></i> Create Account
            <% end %>
         <% end %>
      </section>
   </aside>
   <div class="span9">

      <ul class="users">
         <%= render @users %>
      </ul>

   </div>
</div>

