<% provide(:title, 'Notetaker Application') %>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			
	      	<%= f.label :name %>
	      	<%= f.text_field :name %>

	      	<%= f.label :email, "McGill Email" %>
	      	<%= f.text_field :email %>

	      	<%= f.label :student_id, "McGill Student ID" %>
	      	<%= f.text_field :student_id %>

	      	<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
	   <% end %>
	</div>
</div>
