<li class="row-fluid courseFeedItem">
  <section class="span5" id="<%= course_feed_item.id %>">
    <dl>
      <dt>
         <%= course_feed_item.subject_code %> 
         <%= course_feed_item.course_num %>
         <%= course_feed_item.section %>
      </dt> 
      <dd>
         <%= course_feed_item.course_title %>
         <% if course_feed_item.note_taker?(current_user) and current_user.note_taker? %>
            <strong class="text-success">You are currently the note taker for this course.</strong>
         <% end %>
      </dd>
    </dl>
    <section class="timestamp">
      Registered <%= time_ago_in_words(@user.registrations.find_by(course_id: course_feed_item).created_at) %> ago.
    </section>
  </section>
  <section class="span6 courseFeedItemButtons">
    <%= link_to "View Course", course_feed_item, class: "btn btn-medium btn-inverse cus-doc-text" %>

    <% if @user.registered_with?(course_feed_item)%>
       <%= link_to "Unregister", registration_path(@user.registrations.find_by(course_id: course_feed_item), user: @user),
        data: { confirm: "Unregister from the course: #{course_feed_item.term.upcase} | #{course_feed_item.subject_code} #{course_feed_item.course_num} #{course_feed_item.section} #{course_feed_item.course_title}?" }, method: :delete, class: "btn btn-medium btn-danger cus-unlink " %>
    <% end %>
  </section>
</li>

