<% @user = current_user %>

<% if Time.now.month >= 1 and  Time.now.month < 9 %>
   <% fall_year = Time.now.prev_year.strftime("%Y") %>
   <% winter_year = Time.now.strftime("%Y") %>
   <% summer_year = Time.now.strftime("%Y") %>
<% elsif Time.now.month >= 9 and Time.now.month <= 12 %>
   <% fall_year = Time.now.strftime("%Y") %>
   <% winter_year = Time.now.strftime("%Y").next %>
   <% summer_year = Time.now.strftime("%Y").next %>
<% end %>

<header class="span12 header">
   <h4 class="center span4">
      <i class="icon-leaf text-error"></i> FALL (<%= fall_year %>)
   </h4>
   <h4 class="center span4"><i class="icon-asterisk text-info"></i> WINTER (<%= winter_year %>)</h4>
   <h4 class="center span4"><i class="icon-sun text-warning"></i>  SUMMER (<%= summer_year %>)</h4>
</header>
<section class="row-fluid body">
   <ul class="span4 fall">
      <%= render partial: 'shared/course_feed_item', collection: @fall_course_feed_items %>
   </ul>

   <ul class="span4 winter">
      <%= render partial: 'shared/course_feed_item', collection: @winter_course_feed_items %>
   </ul>

   <ul class="span4 summer">
      <%= render partial: 'shared/course_feed_item', collection: @summer_course_feed_items %>
   </ul>
</section>





