<li id="<%= feed_item.id %>">
   <span class="title">
      <%= feed_item.lecture_title %>
   </span>
   <span class="date">
      <%= feed_item.lecture_date %>
   </span>
   <span class="comments">
      <%= wrap(feed_item.comments) %>
   </span>
   <span class="timestamp">
      Uploaded <%= time_ago_in_words(feed_item.created_at) %> ago.
   </span>
   <div class="center">
      <span class="download">
         <%= link_to('download file', feed_item.file.url, class: "cus-download download", alt: 'download', target: "_blank") %>
      </span> 
      <% if current_user?(feed_item.user) %>
         <%= render partial: 'shared/delete_note_link', locals: { object: feed_item } %>
      <% end %>
   </div>
</li>