<% @notetakers = registered_course.registered_users.where("note_taker = ?", true) %>
<% @noteusers = registered_course.registered_users.where("note_taker = ?", false) %>

<% if registered_course.note_taker %>
<% @class = "success"  %>
<% elsif @notetakers.empty? %>
<% @class = "error"  %>
<% else %>
<% @class = "warning"  %>
<% end %>

<tr id="<%= registered_course.id %>" class="<%= @class %>">
   <td><%= registered_course.term.upcase %></td>
   <td>
      <%= link_to "#{registered_course.subject_code} 
                   #{registered_course.course_num} 
                   #{registered_course.section}", 
                   registered_course %>
   </td>
   <td>
      <% if @noteusers.empty? %>
         0
      <% else %> 
        <strong class="muted"> <%= @noteusers.count %> registered </strong>
        <% @noteusers.each do |noteuser| %>
          <p> <%= link_to noteuser.name, noteuser %> </p>
        <% end %>
      <% end %>
   </td>
   <td>
      <% if @notetakers.empty? %>
         0
      <% else %>
        <strong class="muted"> <%= @notetakers.count %> registered </strong>
         <% @notetakers.each do |notetaker| %>
            <p> 
              <%= link_to notetaker.name, notetaker %> 
              <% if notetaker.approved? %>
                <i class="cus-thumbs-up"></i>
              <% end %>
            </p>
         <% end %>
      <% end %>
   </td>
   <td>
      <% if registered_course.note_taker %>
         <%= link_to registered_course.note_taker.name, registered_course.note_taker %>
          <% if registered_course.note_taker.approved? %>
            <i class="cus-thumbs-up"></i>
          <% end %>
      <% else %>
        None Assigned
      <% end %>
   </td>
</tr>
