<% @notetakers = registered_course.registered_users.where("note_taker = ?", true) %>
<% @noteusers = registered_course.registered_users.where("note_taker = ?", false) %>

<% if registered_course.note_taker %>
<% @class = "success"  %>
<% elsif @notetakers.empty? %>
<% @class = "error"  %>
<% else %>
<% @class = "warning"  %>
<% end %>

<tr id="<%= registered_course.id %>" class="<%= @class %>">
   <td><%= registered_course.term.upcase %></td>
   <td>
      <%= link_to "#{registered_course.subject_code} 
                   #{registered_course.course_num} 
                   #{registered_course.section}", 
                   registered_course %>
   </td>
   <td>
      <% if @noteusers.empty? %>
         0
      <% else %> 
        <strong class="muted"> <%= @noteusers.count %> registered </strong>
        <% @noteusers.each do |noteuser| %>
          <p> 
            <%= link_to noteuser.name, noteuser %> 
            <% if not Accomodation.exists?(student_id: noteuser.student_id) %>
              <small class="icon-warning-sign icon-large text-error"> not registered with OSD</small>
            <% end %>
          </p>
        <% end %>
      <% end %>
   </td>
   <td>
      <% if @notetakers.empty? %>
         0
      <% else %>
        <strong class="muted"> <%= @notetakers.count %> registered </strong>
         <% @notetakers.each do |notetaker| %>
            <p> 
              <%= link_to notetaker.name, notetaker %> 
              <% if notetaker.approved? %>
                <%= link_to user_path(notetaker, user: { :approved => false }), method: :put, class: "approve" do %> 
                  <i class="icon-star icon-large"></i>
                <% end %>
              <% else %>
                <%= link_to user_path(notetaker, user: { :approved => true }), method: :put, class: "unapprove" do %> 
                  <i class="icon-star-empty icon-large"></i>
                <% end %>
              <% end %>
            </p>
         <% end %>
      <% end %>
   </td>
   <td>
      <% if registered_course.note_taker %>
        <strong class="muted"> 1 assigned </strong>
        <p>
          <%= link_to registered_course.note_taker.name, registered_course.note_taker %>
        </p>
      <% else %>
        None Assigned
      <% end %>
   </td>
</tr>
