<% if current_user.admin? %>
   <aside class="row-fluid">
      <section class="span4">
         <%= render 'shared/user_info' %>
      </section>
   </aside>
   <article class="row-fluid">
      <section>
         <form class="form-search center">
            <input type="text" name="filter" value="" id="filter" class="input-xlarge search-query" />
            <label for="filter" class="icon-filter icon-large"> Filter</label>
         </form>
      </section>
      <%= render 'shared/admin_info' %>
   </article>
<% else %>
      
   <h2 class="alert alert-danger"> 
      <i class="icon-warning-sign"></i> 
      Once you have been matched for the courses you have registered for you will be notified by email with further instructions. 
      <i class="icon-warning-sign"></i>
   </h2>
      
   <aside class="row-fluid">
      <section class="span4">
         <%= render 'shared/user_info' %>
      </section>
      <section class="span6 well offset2">
         <%= render 'shared/add_course_form' %>
      </section>
   </aside>
   <% if @fall_course_feed_items.empty? and @winter_course_feed_items.empty? and @summer_course_feed_items.empty? %>
      <h1 class="alert alert-info"> No Classes Registered Yet </h1>
   <% else %>
      <article id="courseFeed" class="row-fluid">
         <%= render 'shared/course_feed' %>
      </article>   
   <% end %>        
<% end %>