<% if current_user.admin? %>
   <aside class="row-fluid">
      <section class="span4">
         <%= render 'shared/user_info' %>
      </section>
      <section>
         <form class="form-search pull-right">
            <input type="text" name="filter" value="" id="filter" class="input-large search-query" />
            <label for="filter" class="cus-zoom-in">Filter</label>
         </form>
      </section>
   </aside>
   <article class="row-fluid">
      <%= render 'shared/admin_info' %>
   </article>
<% else %> 
   <aside class="row-fluid">
      <section class="span4">
         <%= render 'shared/user_info' %>
      </section>
      <section class="span6 well offset2">
         <%= render 'shared/add_course_form' %>
      </section>
   </aside>
   <% if @fall_course_feed_items.empty? and @winter_course_feed_items.empty? and @summer_course_feed_items.empty? %>
      <h1 class="alert alert-info"> No Classes Registered Yet </h1>
   <% else %>
      <article id="courseFeed" class="row-fluid">
         <%= render 'shared/course_feed' %>
      </article>   
   <% end %>        
<% end %>