<% if current_user.admin? %>
<div class="row">
   <aside class="span3">
      <section>
         <%= render 'shared/user_info' %>
      </section>
   </aside>
   <%= render 'shared/admin_interface' %>
</div>
<% else %>
<div class="row">
   <aside class="span3">
      <section>
         <%= render 'shared/user_info' %>
      </section>
      <section>
         <%= render 'shared/add_course_form' %>
      </section>
   </aside>
   <div id="registration" class="span9">
      <h3 class="center">Registered Courses</h3>
      <%= render 'shared/course_feed' %>
   </div>
</div>
<% end %>