<div class="stats">
   <strong id="noteusers" class="stat">
      <% @registered_note_users =  @course.registered_users.where("note_taker = ?", false) %>
      <% if @registered_note_users.count <= 1 %>
         <i class="cus-user"></i>
      <% elsif @registered_note_users.count > 1 %>
         <i class="cus-users"></i>
      <% end %>
      <%= pluralize(@registered_note_users.count, "noteuser") %>
      registered
   </strong>

   <strong id="notetakers" class="stat">
      <% @registered_note_takers =  
      @course.registered_users.count - @registered_note_users.count %>
      <% if @registered_note_takers <= 1 %>
         <i class="cus-user"></i>
      <% elsif @registered_note_takers > 1 %>
         <i class="cus-users"></i>
      <% end %>
      <%= pluralize(@registered_note_takers, "notetaker") %>
      registered
   </strong>

   <strong id="notetaker" class="stat">
      <i class="cus-pencil"></i>
      <% if @course.note_taker %>
         <%= pluralize(1, "notetaker") %>
      <% else %>
         <%= pluralize(0, "notetaker") %>
      <% end %>
      assigned
   </strong>
   
   <strong id="notes" class="stat">
      <% if @course.notes.count == 0 %>
         <i class="cus-doc"></i>
      <% elsif  @course.notes.count == 1 %>
         <i class="cus-doc-text"></i>
      <% else %>
         <i class="cus-docs"></i>
      <% end %>
      
      <%= pluralize(@course.notes.count, "note") %>
      uploaded
   </strong>
   
</div>