<h1> <%= current_user.name.capitalize %> </h1>
<h4>
   (
   <% if current_user.note_taker? %>
      <strong class="cus-pencil">NoteTaker</strong> 
   <% elsif current_user.admin?%>
      <strong class="cus-cog-alt">Admin</strong> 
   <% else %>
      <strong class="cus-user">NoteUser</strong> 
   <% end %>)
</h4>
<p>
   <%= link_to "view my profile", current_user, class: "cus-eye" %>
</p>
<% if not current_user.admin? %>
   <p id="registered_courses" class="cus-doc-inv">
      Registered for <%= pluralize(current_user.registered_courses.count, "course") %>
   </p> 
<% end %>
<% if current_user.note_taker? %>
   <p id="notetaking_courses" class="cus-pencil">
       Notetaking for <%= pluralize(current_user.notetaking_for.count, "course") %>
   </p>
   <p id="notes_uploaded" class="cus-doc-text-inv">
      <%= pluralize(current_user.notes.count, "note") %> uploaded
   </p>
<% end %>