<!--<a href="<%= user_path(current_user) %>"></a>-->
<span>
   <h1> 
      <%= current_user.name.capitalize %> 
   </h1>
   <h4>
      (
      <% if current_user.note_taker? %>
         <i class="cus-pencil"></i> NoteTaker
      <% elsif current_user.admin?%>
         <i class="cus-cog-alt"></i> Admin
      <% else %>
         <i class="cus-user"></i> NoteUser
      <% end %>)
   </h4>
</span>
<span>
   <%= link_to "view my profile", current_user, class: "cus-eye" %>
</span>
<span id="registered_courses" class="badge badge-info cus-doc-inv">
   <%= "Registered for " + pluralize(current_user.registered_courses.count, "course") %>
</span>
<% if current_user.note_taker? %>
   <span id="notetaking_courses" class="badge badge-info cus-doc-inv">
      <%= "Notetaking for " + pluralize(current_user.notetaking_for.count, "course") %>
   </span>
   <span  class="badge badge-info cus-doc-text">
      <%= pluralize(current_user.notes.count, "note") + " uploaded" %>
   </span>
<% end %>