<% provide(:title, 'Courses') %>
<h1 id="courses_heading"> 
   Courses <strong class="text-error">( <%= @courses.count %> )</strong>
</h1>
<article class="row-fluid">
   <aside class="span2">
      <section>
         <div class="btn-group btn-group-vertical">
            <%= link_to new_course_import_path, class: "btn btn-small btn-inverse" do%>
               <i class="icon-upload-alt icon-large"></i> Import Courses
            <% end %>
            <%= link_to 'delete_all_courses', method: :delete, data: { confirm: "WARNING This will delete all courses hence will also delete all course registrations made by students and all notes associated with the course." }, class: "btn btn-small btn-danger" do %>
               <i class="icon-trash icon-large"></i> Delete All Courses
            <% end %>
         </div>
      </section>
   </aside>
   <article class="span10">
      <section>
         <%= form_tag courses_path, method: 'get', html: { class: "form-inline" }, id: "courses_search" do %>
            <%= label_tag :search do %>
               <i class="icon-search"></i> Search
            <% end %>
            <%= text_field_tag :search, params[:search], class: "input-large" %>
         <% end %>
      </section>

      <section id="courses_pagination_top">
         <%= will_paginate @courses %>
      </section>

      <section id="courses">
         <%= render @courses %> 
      </section>

      <section id="courses_pagination_bottom">
         <%= will_paginate @courses %>
      </section>
   </article>
</article>