<% provide(:title, 'Courses') %>
<h1 id="heading"> Courses (<%= @courses.count %>)</h1>

<div class="row">
<aside class="span2">
   <section>
      <div class="btn-group btn-group-vertical">
         <%= link_to "Import Courses", new_course_import_path, class: "btn btn-small btn-primary cus-upload" %>
         <%= link_to "Delete All Courses", 'delete_all', method: :delete, data: { confirm: "WARNING This will delete all courses hence will also delete all course registrations made by students and all notes associated with the course." },class: "btn btn-small btn-danger cus-trash" %>
      </div>
   </section>
</aside>
<div class="span10" id="courses">
   <%= form_tag courses_path, method: 'get', html: { class: "form-inline" } do %>
      <%= text_field_tag :search, params[:search], class: "input-large" %>
      <%= button_tag(type: 'submit', class: "btn btn-medium btn-primary") do %>
         <i class="cus-eye"></i> Search
      <% end %>
   <% end %>



   
   <%= will_paginate @courses %>

   <%= render @courses %> 

   <%= will_paginate @courses %>
</div>
   
</div>