<% provide(:title, @course.course_title) %>
<div class="row-fluid">
   <aside class="span2">
      <section>
         <%= render @course %>
      </section>
      <section>
         <%= render 'shared/stats' %>
      </section>
      <section>
         <% if current_user.note_taker? and @course.note_taker and @course.note_taker == current_user %>
         <% end %>
      </section>
   </aside>
   <div class="span10">
      <header class="center">
         <% if @course.note_taker %>
            <h3> 
               Problems with Notes? Late Notes? Please <strong class="cus-mail-alt text-error"> contact </strong> the notetaker directly at 
               <strong class="text-error"> <%= @course.note_taker.email %> </strong>
            </h3>
         <% end %>
      </header>
      <section>
         <% if @course.notes.any? %>
            <h3>
              <%= pluralize(@course.notes.count, "note") %> uploaded.
            </h3>
            <%= render 'shared/feed' %>
         <% end %>
      </section>
   </div>
</div>
