<% provide(:title, @course.course_title) %>
<div class="row">
   <aside class="span4">
      <section>
         <h1> <%= @course.term %> </h1>
         <%= render @course %>
      </section>
      <section>
         <%= render 'shared/stats' %>
      </section>
      <section>
         <% if current_user.note_taker? and @course.note_taker and @course.note_taker == current_user %>
            <%= render 'shared/note_form' %>
         <% end %>
      </section>
   </aside>
   <div class="span8">
      <% if @course.notes.any? %>
         <h3>
           <%= pluralize(@course.notes.count, "note") %> uploaded.
         </h3>
         <%= render 'shared/feed' %>
    <% end %>
   </div>
</div>
