<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<% homelink, otherlink = full_title(yield(:title)).split('|') %>
			<%= link_to homelink, root_path, id: "logo" %>
			<% if otherlink %>
				<%= link_to "|" + otherlink, request.path, id: "logo" %>
			<% end %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path, class: "cus-home" %></li>
					<li><%= link_to "Contact Us", contact_path, class: "cus-mail-alt" %></li>
					<li><%= link_to "Help", help_path, class: "cus-help-circled" %></li>
					<% if signed_in? %>
						<% if  current_user.admin? %>
							<li><%= link_to "Users", users_path, class: "cus-users" %></li>
							<li><%= link_to "Courses", courses_path, class: "cus-docs" %></li>
						<% end %>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle cus-cog" data-toggle="dropdown">
								Account <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Profile", current_user, class: "cus-user" %></li>
								<li><%= link_to "Settings", edit_user_path(current_user), class: "cus-edit" %></li>
								<% if current_user.note_taker? %>
									<li><%= link_to "Payroll information", '#', class: "cus-credit-card" %></li>
								<% end %>
								<% if current_user.admin? %>
									<li><%= link_to "Import Courses", new_course_import_path, class: "cus-upload" %></li>
								<% end %>
								<li><%= link_to "Inbox", '#', class: "cus-mail" %></li>
								<li class="divider"></li>
								<li>
									<%= link_to "Sign out", signout_path, method: "delete", class: "cus-logout" %>
								</li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Sign in", signin_path, class: "cus-login" %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>