<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<% homelink, otherlink = full_title(yield(:title)).split('|') %>
			<%= link_to homelink, root_path, id: "logo" %>
			<% if otherlink %>
				<%= link_to "|" + otherlink, request.path, id: "logo" %>
			<% end %>
			<nav>
				<ul class="nav pull-left">
					<% if not signed_in? and request.original_url == root_url %>
						<li>
							<%= form_for(:session, url: sessions_path, html: {class: "navbar-form"} ) do |f| %>
								<%= f.email_field :email, required: true, autofocus: true,
											:'data-validation-email-message' => "Please enter a valid email", 
											:'data-validation-regex-regex' => "^[a-zA-Z0-9\-]+\\.([a-zA-Z0-9]+\\.)?[a-zA-Z0-9\-]+(@mail.mcgill.ca|@mcgill.ca)$", 
											:'data-validation-regex-message' => "Must be of the form 
											firstname.lastname@mail.mcgill.ca or firstname.lastname@mcgill.ca",  placeholder: 'Mcgill Email', class: "input-large " %>

								<%= f.password_field :password, required: true, minLength: "8",
											:'data-validation-regex-regex' => "^[^\\s']+$", 
											:'data-validation-regex-message' => "Password is incorrect format; cannot have any spaces or quotes(')", placeholder: 'McGill password', class: "input-medium" %>

								<%= button_tag(type: 'submit', class: "cus-login btn btn-danger") do %>
										Sign in
								<% end %>
							<% end %>
						</li>
						<li><%= link_to "Forgotten password? Click to reset", new_password_reset_path, class: "cus-lock-open" %> </li>
					<% end %>
				</ul>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path, class: "cus-home" %></li>
					<li><%= link_to "Contact Us", contact_path, class: "cus-mail-alt" %></li>
					<li><%= link_to "Help", help_path, class: "cus-help-circled" %></li>
					<% if signed_in? %>
						<% if  current_user.admin? %>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle cus-users" data-toggle="dropdown">
								Users <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Show Users", users_path, class: "cus-eye" %></li>
									<li><%= link_to "Download Matchings as CSV", courses_path(format: "csv"), class: "cus-download" %></li>
								</ul>
							</li>
							
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle cus-docs" data-toggle="dropdown">
								Courses <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Show Courses", courses_path, class: "cus-eye" %></li>
									<li><%= link_to "Import Courses", new_course_import_path, class: "cus-upload" %></li>
									<li class="divider"></li>
									<li><%= link_to "Delete All Courses", 'delete_all_courses', method: :delete, data: { confirm: "WARNING This will delete all courses hence will also delete all course registrations made by students and all notes associated with the course." },class: "cus-trash" %></li>
								</ul>
							</li>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle cus-tags" data-toggle="dropdown">
								Accommodations <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Show Accommodations", accomodations_path, class: "cus-eye" %></li>
									<li><%= link_to "Import Accommodations", new_accomodation_path, class: "cus-upload" %></li>
									<li class="divider"></li>
									<li><%= link_to "Delete All Accommodations", 'delete_accommodations', method: :delete, data: { confirm: "WARNING This will delete all accommodations!!!" },class: "cus-trash" %></li>
								</ul>
							</li>
								

						<% end %>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle cus-cog" data-toggle="dropdown">
								Account <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Profile", current_user, class: "cus-user" %></li>
								<li><%= link_to "Settings", edit_user_path(current_user), class: "cus-edit" %></li>
								<% if current_user.note_taker? %>
									<li><%= link_to "Payroll information", '#', class: "cus-credit-card" %></li>
								<% end %>

								<li><%= link_to "Inbox", '#', class: "cus-mail" %></li>
								<li class="divider"></li>
								<li>
									<%= link_to "Sign out", signout_path, method: "delete", class: "cus-logout" %>
								</li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Sign in", signin_path, class: "cus-login" %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>